/* Login body */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 48px;
gap: 20px;

position: absolute;
width: 496px;
height: 550px;
left: 712px;
top: 265px;

/* primary-700 */

background: #61666A;