@use '../colors' as colors;
@use '../custom' as custom;
@use '../breakpoints' as breakpoints;

/* Login body */


/* Auto layout */

.Autolayout {display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 48px;
gap: 20px;

position: absolute;
width: 496px;
height: 550px;
left: 712px;
top: 265px;

/* primary-700 */

background: #61666A;

}